.titleRow{
  border-bottom: thin solid #99ccff;
    align: center;
  padding: 5px;
  margin: 5px;
}
.inputRow{
        padding:5px;
        margin:5px;
}
#displayFilter {
    display: inline;
    width: 65%;
}
#displayControl {
    height: 40px;
}
.seeIt{
  border: 1px solid black;
}
.regRows {
  padding:5px 5px 5px 5px;
  margin: 0px 5px 0px 5px;
  border-bottom: 1px solid #e5e5e5;
}
.regRows:hover{
  display: block;
    background-color: #ffff99;
}
.regCol{
    white-space:nowrap;
  overflow:hidden;
}
